extends layout 

block content 
  h1 #{title}: #{category.name}

  if category_items.length 
    p #[strong Delete the following items before attempting to delete this category.]
    h2 Items 
    ul 
      each item in category_items 
        li 
          a(href=item.url) #{item.name}
  else 
    form(method='post')
      label(for="password") Enter the admin password to delete #{category.name}: 
      input#password(type="password", name="password")
      input#category_id(name='category_id' type='hidden' value=category._id)
      button(type="submit") Delete

    if errors
      ul 
        for error in errors 
          li!= error.msg  