extends layout 

block content 
  h1= title 

  if list.length 
    ul 
      each value in list 
        li
          if value.category 
            a(href=value.url) #{value.name}
            | (#{value.category.name})
          else 
            a(href=value.url) #{value.name} 

  else 
    p There are no entries         